<article class="bg-gray-200 shadow-md w-full p-5 rounded-md">
  <h1 class="text-5xl font-bold mb-3"><%= @city.name %></h1>
  <div class="flex items-end">
    <%= content_tag(:h2, "AQI: #{@city.aqi}", class: "#{aqi_font_color(@city.aqi)} text-4xl") %>
    <p class="text-md italic ml-2 text-gray-400"> as of <%= time_ago_in_words(@city.aqi_date) %> ago</p>
  </div>
  <hr class="my-3 border-solid border-gray-400">
  <h4 class="text-lg font-light mb-3">Forecast</h4>
  <% @forecasts.each do |f| %>
      <p><%= friendly_time(f.measurement_date) %></p>
      <%= content_tag(:p, "AQI: #{f.pm25_avg}", class: aqi_font_color(f.pm25_avg)) %>
  <% end %>
</article>