<article class="shadow-md w-1/3 p-2">
  <h1 class="text-5xl font-bold mb-3"><%= @city.name %></h1>
  <h2 class="text-3xl font-bold inline">AQI: <%= @city.aqi %></h2>
  <h3 class="text-xl italic inline">:: <%= @city.aqi_date %> ::</h3>
  <hr class="my-3">
  <h4 class="text-lg font-light mb-3">Forecast</h4>
  <p><%= friendly_time(@city.pm25_forecast1_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast1}", class: aqi_font_color(@city.pm25_forecast1)) %>

  <%= friendly_time(@city.pm25_forecast2_date) %>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast2}", class: aqi_font_color(@city.pm25_forecast2)) %>
  
  <p><%= friendly_time(@city.pm25_forecast3_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast3}", class: aqi_font_color(@city.pm25_forecast3)) %>
  
  <p><%= friendly_time(@city.pm25_forecast4_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast4}", class: aqi_font_color(@city.pm25_forecast4)) %>
  
  <p><%= friendly_time(@city.pm25_forecast5_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast5}", class: aqi_font_color(@city.pm25_forecast5)) %>
  
  <p><%= friendly_time(@city.pm25_forecast6_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast6}", class: aqi_font_color(@city.pm25_forecast6)) %>
  
  <p><%= friendly_time(@city.pm25_forecast7_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast7}", class: aqi_font_color(@city.pm25_forecast7)) %>
  
  <p><%= friendly_time(@city.pm25_forecast8_date) %></p>
  <%= content_tag(:p, "AQI: #{@city.pm25_forecast8}", class: aqi_font_color(@city.pm25_forecast8)) %>
</article>
